name: Publish docs via GitHub Pages
on:
  release:
    types: [created]
  workflow_dispatch: {}

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: prepare
        run: |
          pip install -r ./requirements.txt
          pip install -e .
          python docs/autogen.py
          mv docs/generated_sources ./generated_sources
          mv docs/mkdocs.yml ./
      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@1.26
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REQUIREMENTS: doc-requirements.txt
