name: Run tests

on: [push, pull_request]

jobs:
  build-linux-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    - name: Run all tests
      run: |
        cat /etc/docker/daemon.json
        echo '{"insecure-registries" : [ "localhost:5000" ]}' | sudo tee /etc/docker/daemon.json
        sudo service docker restart
        sleep 2
        docker info
        pip install -e .
        pip install -r ./lint-requirements.txt
        flake8
        isort --check ./
        black --check ./

  build-linux-test-with-binaries-other-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    - name: Run all tests
      run: |
        cat /etc/docker/daemon.json
        echo '{"insecure-registries" : [ "localhost:5000" ]}' | sudo tee /etc/docker/daemon.json
        sudo service docker restart
        sleep 2
        docker info
        pip install -e .
        pip install -r ./tests/test-requirements.txt
        mkdir -p ~/.docker/cli-plugins/
        wget https://github.com/docker/compose/releases/download/v2.15.1/docker-compose-linux-x86_64 -O ~/.docker/cli-plugins/docker-compose
        chmod +x ~/.docker/cli-plugins/docker-compose
        wget https://github.com/docker/buildx/releases/download/v0.10.0/buildx-v0.10.0.linux-amd64 -O ~/.docker/cli-plugins/docker-buildx
        chmod +x ~/.docker/cli-plugins/docker-buildx
        pytest -v --durations=10 -k "not mark_component"

  build-linux-test-container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Run all tests
        run: |
          cat /etc/docker/daemon.json
          echo '{"insecure-registries" : [ "localhost:5000" ]}' | sudo tee /etc/docker/daemon.json
          sudo service docker restart
          sleep 2
          docker info
          pip install -e .
          pip install -r ./tests/test-requirements.txt
          mkdir -p ~/.docker/cli-plugins/
          wget https://github.com/docker/compose/releases/download/v2.15.1/docker-compose-linux-x86_64 -O ~/.docker/cli-plugins/docker-compose
          chmod +x ~/.docker/cli-plugins/docker-compose
          wget https://github.com/docker/buildx/releases/download/v0.10.0/buildx-v0.10.0.linux-amd64 -O ~/.docker/cli-plugins/docker-buildx
          chmod +x ~/.docker/cli-plugins/docker-buildx
          pytest -v --durations=10  -m mark_component_container

  build-linux-test-compose:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Run all tests
        run: |
          cat /etc/docker/daemon.json
          echo '{"insecure-registries" : [ "localhost:5000" ]}' | sudo tee /etc/docker/daemon.json
          sudo service docker restart
          sleep 2
          docker info
          pip install -e .
          pip install -r ./tests/test-requirements.txt
          mkdir -p ~/.docker/cli-plugins/
          wget https://github.com/docker/compose/releases/download/v2.15.1/docker-compose-linux-x86_64 -O ~/.docker/cli-plugins/docker-compose
          chmod +x ~/.docker/cli-plugins/docker-compose
          wget https://github.com/docker/buildx/releases/download/v0.10.0/buildx-v0.10.0.linux-amd64 -O ~/.docker/cli-plugins/docker-buildx
          chmod +x ~/.docker/cli-plugins/docker-buildx
          pytest -v --durations=10  -m mark_component_compose

  build-linux-test-without-any-binary:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    - name: Run all tests
      run: |
        cat /etc/docker/daemon.json
        echo '{"insecure-registries" : [ "localhost:5000" ]}' | sudo tee /etc/docker/daemon.json
        sudo service docker restart
        sleep 2
        docker info
        pip install -e .
        pip install -r ./tests/test-requirements.txt
        pytest -v --durations=10 ./tests/python_on_whales/components/buildx

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: prepare
      run: |
        pip install -r tests/test-requirements.txt
        pip install -e .
    - name: Run all tests
      run: |
        docker run hello-world
        pytest -v ./tests/python_on_whales/components/test_volume.py::test_simple_volume

#  cost too much at the moment.
#  build-macos:
#    runs-on: macos-latest
#    steps:
#    - uses: actions/checkout@v2
#    - name: Install docker
#      run: |
#        mkdir -p ~/.docker/machine/cache
#        curl -Lo ~/.docker/machine/cache/boot2docker.iso https://github.com/boot2docker/boot2docker/releases/download/v19.03.12/boot2docker.iso
#        brew install docker docker-machine
#        docker-machine create --driver virtualbox default
#        docker-machine env default
#    - uses: actions/setup-python@v2
#      with:
#        python-version: 3.7
#    - name: prepare
#      run: |
#        pip install -r tests/test-requirements.txt
#        pip install -e .
#    - name: Run all tests
#      run: |
#        eval "$(docker-machine env default)"
#        docker run hello-world
#        pytest -v ./tests
